{% extends 'base.html' %}

{% block title %}blog{% endblock %}

{% block content %}
    <div>
        <h1>Personal blog</h1>
        {% for post in posts %}
        <div id="post" class="container">
            <h2>{{ post.title }}</h2>
            <h5> {{ post.date_added }} </h5>
            <hr>
            <p>{{ post.blog_text|truncatechars:255 }}</p>
            <a href="{% url 'comment' id=post.id %}" class="btn btn-primary">view the post and comment</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}