/* Main body */

body{
    background-color:#5A5E68;
}

#nav a {
    color:black;
}

#about{
    color:white;
}

/*home page stuff*/

#jumbo{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    flex-wrap: nowrap;
}

#jumbo_img{
    border-right: 2px solid black;
    padding-right: 100px;
    align-self: center;
    height: 100%;
}

#jumbo_text{
	text-align: center;
	display: block;
}
#jumbo_text a{
	margin-top: 10%;
}

#attr{
	justify-content: space-around;
	text-align: center;
	padding-top: 10%;
    color: white;
}

#attr ul{
	list-style: none;
}
/*contact page*/

#contact{
    color: white;
}

#contact ul{
	list-style: none;
}

#contact a{
    color: white;
}

/*blog page styling*/

#blog_page h1{
    color: white;
}

#post{
    border: solid black 1px;
    margin-bottom: 20px;
    color: white;
}

#blog_notice{
    color: white;
}

#full_post{
    color: white;
}

#comment_form{
    border: solid black 1px;
}

#comment_title{
    justify-content: space-between;
}

/* wood work styling*/


#wood_card{
    justify-content: space-between;
    /*padding: 5px;*/
}


/*code projects styling*/

#code_card{
    justify-content: space-between;
    padding: 5px;
}