#jumbo{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    flex-wrap: nowrap;
}

#jumbo_img{
    border-right: 2px solid black;
    padding-right: 100px;
    align-self: center;
    height: 100%;
}

#jumbo_text{
	text-align: center;
	display: block;
}
#jumbo_text a{
	margin-top: 100px;
}

#attr{
	justify-content: space-around;
	text-align: center;
}

#attr ul{
	list-style: none;
}

#contact ul{
	list-style: none;
}
